<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.kl.summary">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:name="ru.kl.summary.MyApp"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".EndlinesActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".KeywordsActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".TemplatesActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".SetupActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".CallsInfoActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".ContactsActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MenuActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:theme="@style/HiddenTitleTheme">
        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>